dj-database-url==3.0.1
dj-email-url==1.0.6
dj-search-url==0.1
Django==5.2.8
django-bootstrap4==25.2
django-cache-url==3.4.5
django-configurations==2.5.1
django-crispy-forms==2.5
django-dotenv==1.4.2
django-environ==0.12.0
django-referrer-policy==1.0
django-widget-tweaks==1.5.0
environ==1.0
gunicorn==23.0.0
path==17.1.1
Pillow==12.0.0
psycopg2==2.9.11
python-decouple==3.8
python-dotenv==1.2.1
pytz==2025.2
sqlparse==0.5.3
whitenoise==6.11.0


